autopep8==1.6.0
certifi==2021.10.8
charset-normalizer==2.0.11
docutils==0.18.1
idna==3.3
Kivy==2.0.0
Kivy-Garden==0.1.4
pycodestyle==2.8.0
Pygments==2.11.2
requests==2.27.1
toml==0.10.2
urllib3==1.26.8
